.Home{
    padding: 10px;
    height: auto;
    width: 100%;
    background-color: #bcff8f;
    box-sizing: border-box;
}

.Home .header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../../Resources/vege.jpeg);
    height: auto;
    width: 100%;
    padding: 5rem;
    background-position: center;
    color: #fff;
    text-align: left;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}
.Home .header h1{
    color: #fff;
    margin-top: 6rem;
    flex: 2;
}
.Home .header p{
    color: #fff;
}
.Home .header .newsletter{
    display: flex;
    padding: 2rem;
    background-color: #1ec500;
    flex: 1.5;
    border-radius: 0.2rem;
}
.Home .header .newsletter .left{
    flex: 1;
}
.Home .header .newsletter .left img{
    margin: 1rem;
}
.Home .header .newsletter .right{
    flex: 1;
}
.Home .header .newsletter .right h1{
    margin-top: -15px;
}
.Home .header .newsletter .right .form{
    display: flex;
    flex-direction: column;
}
.Home .header .newsletter .right .form input, button{
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid #acacac;
    border-radius: 0.2rem;
}
.Home .header .newsletter .right .form button{
    background-color: #000000;
    color: #fff;
    border: none;
}

.Home .body{
    display: flex;
    padding: 2rem;
}
.Home .body .blog-posts{
    flex: 4;
}

.Home .body .left{
    flex: 1.5;
    background-color: #1ec500;
    margin-left: 2rem;
    padding: 2rem;
}

.Home .body .left .search{
    display: flex;
    margin-top: 4rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #cecece;
}
.Home .body .left .search input{
    padding: 0.5rem;
    border: 1px solid #cecece;
    margin-right: 0.1rem;
    margin-left: 2rem;
    height: 3rem;
}

.Home .body .left .search button{
    font-size: 2rem;
    color: #1ec500;
    background-color: #fff;
    border: 1px solid #cecece;
    margin-top: -0.03rem;
    height: 3rem;
}

.Home .body .left .categories{
    padding: 2rem;
}
.Home .body .left .categories h2{
    color: #fff;
    padding-bottom: 2rem;
    border-bottom: 1px solid #cecece;
    margin-bottom: 2rem;
}
.Home .body .left .categories p{
    margin-bottom: 1rem;
    border-bottom: 1px solid #cecece;
    padding-bottom: 1rem;
    color: #fff;
    font-family: monospace;
    font-size: 1rem;
}